@media only screen and (max-width: 767px) {
	h3 {
		margin-top: 1%;
	}
	div[class^="course-section"] {
		text-align: center;
		margin-bottom: 1%;	
	}
	.section-title {
		font-size: 1.3em;
	}
	#ccoe-logo {
		display: none;
	}
	.row > div.col-sm-2 {
		display: none;
	}
	#title-container {
		display: none;
	}
	#title-wrapper {
		min-height: 75px;
		font-weight: bold;
	}
	#title {
		font-size: 1.3em;
	}
	#button-group {
		display: none;
	}
	#dropdown-group {
		margin-top: 2%;
	}
	#gpa-wrapper {
		margin-top: 1%;
		font-size: 1.3em;
	}
	.course-section > .row {
		margin-right: 0px;
		margin-left: 0px;
	}
}
@media only screen and (min-width: 768px) {
	#title-wrapper {
		min-height: 100px;
	}
	#calculate-gpa {
		margin-bottom: 2%;
	}
	.dropdown-menu {
		text-align: center;
	}
}
@media only screen and (min-width: 611px) and (max-width: 769px) {
	#ccoe-logo {
		display: none;
	}
	#calculate-gpa {
		margin-bottom: 2%;
	}
}